.posts_item
{
    width: 100%;
    margin: 10px 0;
    display: flex;
    border-radius: 10px;
    border: 2px solid grey;
    align-items: center;
}

.post_text
{
    margin-left: 10px;
    text-align: center;
}
.post_avatar
{
    width: 50px;
    height: auto;
    border-radius: 50%;
}